.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #4596c2;
}

h1 {
  margin: 40px;
  font-family: "Lobster", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 5px 5px 10px 5px black;
  font-size: 10rem;
  color: #d881c2;
}

p {
  font-size: 5rem;
  color: #e7c680;
  font-family: "Lucida Console", "Courier New", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

img {
  width: 70%;
}

footer {
  margin-top: 5%;
  color: #39c9bd;
  text-align: center;
  font-family: "Lucida Console", "Courier New", Arial, Helvetica, sans-serif;
}
